@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

html, body{
    font-family: 'Poppins', sans-serif;
    background-color:  hsl(0, 0%, 98%);
    margin: 0;
    padding: 0;
}